__pycache__/
*.bin
*.log
*.tar.gz
*.th
answer-generation-env/
data/**
gpt_models/*/model*
gpt_models/narrativeqa_bak/
models/
nabert_models/*/log/*
naqanet_models/*/log/*
notebooks/
pytorch-pretrained-BERT/
raw_data/
samples/